* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

/* Header & Nav */
header {
    height: 60px;
    width: 100%;
    position: absolute;
    top: 0;
	z-index: 2;
}

#logo {
    line-height: 60px;
    margin-left: 40px;
    display: inline-block;
	cursor: pointer;
	font-size: 30px;
	font-weight: bold;
	color: black; 
}

#logo:hover {
    color: rgb(66, 191, 200); 
}

#logo-p {
	color: rgb(66, 191, 200); 
	margin-left: 5px;
}

#logo:hover #logo-s {
	color: black; 
}

.nav {
	float: right;
	line-height: 60px;
	margin-right: 40px;
}

.nav a {
	color: black;
	font-weight: bold;
	text-decoration: none;
}

.nav a:hover {
	color: rgb(66, 191, 200); 
	border-color: rgb(66, 191, 200); 
}

/* Carousel */
.slider {
	position: relative;
	width: 100%;
}

.images {
	height: 655px;
	display: none;
	overflow: hidden;
}

.images img {
	width: 100%;
	height: 100%;
}

.prev, .next {
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: black;
	transition: 0.1s;
	user-select: none;
}

.prev:hover, .next:hover {
	color: rgb(66, 191, 200);
}

.next {
	right: 0;
}

.dotsbox {
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}

.dot {
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid black;
	border-radius: 50%;
	margin: 0 10px;
	cursor: pointer;
}

/* Javascript */
.active, .dot:hover {
	border-color: rgb(66, 191, 200);
}

/* Images */
.images img {
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}

@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}

@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}

/* Content */
.about {
    text-align: center;
    padding: 100px 0;
    color: white;
    background-image: linear-gradient(to bottom, black, rgb(66, 191, 200));
}

.about h2 {
    font-size: 36px;
    margin-bottom: 20px;
	color: white;
}

.about p {
    font-size: 18px;
    margin-bottom: 30px;
	color: white;
    padding: 60px;
}

.slideshow-container {
    position: relative;
    max-width: 800px;
    margin: 0 auto;
}

.slide {
    display: none;
}

.slide img {
    width: 50%;
    border-radius: 500px;
}

.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

.galery {
    background-size: cover;
    background-position: center;
    text-align: center;
    padding: 20px 0;
    color: black;
    background-color: white;
}

.galery h2 {
    font-size: 36px;
    margin-bottom: 80px;
}

.galery p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact {
    text-align: center;
    padding: 150px 0;
    color: white;
    background-image: linear-gradient(to bottom, black, rgb(66, 191, 200));
    margin: 0;
}

.contact h2 {
    font-size: 36px;
    margin-bottom: 20px;
}

.contact p {
    font-size: 18px;
    margin-bottom: 30px;
}

.contact img {
    width: 100px;
}

.contact img:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}

/* Product */
:root {
    --warna-awal:  rgb(66, 191, 200);
    --warna-akhir: rgb(175, 243, 248);
    --warna-tengah: rgb(248, 162, 2);
    --warna-teks: black;
    --warna-link: #007bff;
    --ukuran-font: 30px;
}

.product-gallery {
    padding: 1px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    text-align: center;
    font-size: var(--ukuran-font);
    padding: 40px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 50px;
    animation: changeColor 4s linear infinite;
    
}

@keyframes changeColor {
    10% {
        background-color: var(--warna-awal);
    }
    5% {
        background-color: var(--warna-tengah);
    }
    50% {
        background-color: var(--warna-akhir);
    }
}

.beli-btn {
    background-color: var(--warna-tengah);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3 ease;
}

.beli-btn:hover {
    background-color: var(--warna-awal);
}

.product-card {
    width: 220px;
    height: 530px;
    background: linear-gradient(var(--warna-awal),var(--warna-akhir));
    margin-bottom: 50px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease;
}

.product-card:hover {
    transform: translateY(-10px);
}

.product-card img {
    max-width: 90%;
    height: auto;
    border-radius: 5px;
}

.product-card h3 {
    color: var(--warna-teks);
    margin: 10px 0;
}

.product-card p {
    color: var(--warna-teks);
}

.product-card a {
    display: block;
    color: var(--warna-link);
    text-decoration: none;
    margin-top: 10px;
}

.rating {
    color: var(--warna-tengah);
    font-size: var(--ukuran-font);
}

.product-card a:hover {
    text-decoration: underline;
}















